.titleCat__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8f8f8f;
  margin-bottom: 15px;
}
.titleCat__first {
  display: flex;
  align-items: center;
}
.titleCat__second {
  display: flex;
  align-items: center;
}
.titleCat__morePic img {
  height: 30px;
  cursor: pointer;
}
.titleCat__morePic {
  display: flex;
  align-items: center;
}
.titleCat__pic img {
  height: 30px;
}
.titleCat__pic {
  display: flex;
  align-items: center;
}
.titleCat__title{
  font-weight: bold;
  margin-right: 8px;
}