* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signUp3Container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.signUp3Form , .signUp3Text {
    width: 50%;
    height: 100vh;
    position: relative;
}

.signUp3Form {
    background-color: #FFF;
}

.signUp3Text {
    background-color: var(--main-color);
}

.signUp3Form div , .signUp3Text div {
    width: 70%;
    height: 70%;
    position: absolute;
    top: 15%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    font-size: 2rem;
    box-shadow: 0 0 20px #333333;
}

.signUp3Form div {
    right: 0;
    flex-direction: column;
    justify-content: start;
    border-radius: 6px 0 0 6px;
}

.signUp3Text div {
    color: var(--second-color);
    left: 0;
    justify-content: center;
    border-radius: 0 6px 6px 0;
}

.signUp3Form div p , .signUp3Text div p {
    text-align: center;
    font-weight: bold;
}

.signUp3Form div p {
    padding: 80px 0;
    color: var(--main-color);
}

.signUp3Text div p {
    width: 100%;
}

.signUp3Form div input {
    width: 300px;
    height: 50px;
    border-radius: 60px;
    border: none;
    box-shadow: 0 0 10px #949494 inset;
    padding: 0 20px;
}

.signUp3Form div input::placeholder {
    text-align: center;
}

.signUp3Form div section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signUp3Form div section button {
    border-radius: 40px;
    border: none;
    background-color: var(--main-color);
    color: #FFF;
    text-align: center;
    padding: 10px 30px;
    cursor: pointer;
}

.signUp3Text div button {
    padding: 4px 40px 10px 40px;
    border-radius: 20px;
    border: 1px solid var(--second-color);
    background-color: var(--main-color);
    font-size: 1.1rem;
    color: var(--second-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}