.selectAddress {
    width: 56%;
    /*background-color: yellow;*/
    margin: 0 auto 80px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    padding: 40px 20px;
    min-height: 80vh;
}

.buyLevels {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
}

.buyLevel {
    padding: 4px 20px;
    background-color: var(--second-color);
    color: var(--main-color);
    border-radius: 10px;
}

.buyLevel:nth-of-type(2) {
    padding: 4px 60px;
    background-color: var(--main-color);
    color: var(--second-color);
}