.designer-explanation {
  width: 75%;
  border-radius: 40px;
  box-shadow: 5px 5px 30px #ddd;
  margin: 5vh auto;
}

.designer-explanation__title {
  width: 100%;
  border-radius: 40px 40px 0 0;
  text-align: right;
  color: var(--second-color);
  background-color: var(--main-color);
  padding: 15px 40px;
}

.designer-explanation__paragraph {
  color: var(--main-color);
  font-size: 15px;
  font-weight: 700;
  line-height: 200%;
  text-align: right;
  padding: 10px 40px 20px;
}
