.ProviderHeader {
    width: 100%;
    background-color: var(--main-color);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    color: var(--second-color);
    margin-bottom: 80px;
}

.ProviderHeaderLogo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--second-color);
}