.message {
    width: 100%;
    margin-bottom: 40px;
}

.message .messageTitle {
    background-color: var(--main-color);
    padding: 4px 20px;
    color: var(--second-color);
    border-radius: 12px 12px 0 0;
}

.message .messageContent {
    padding: 8px 30px;
    font-weight: lighter;
    color: #565656;
    /*font-size: 12px;*/
}